<div id="container" class="center">
  <!-- <strong>{{ name }}</strong> -->
  
<ion-item>
  <ion-label >Instagram Username:</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Instagram Password:</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item-divider>

</ion-item-divider>



<!-- Inputs with labels -->

<ion-item>
  <ion-label >Number Of Likes:</ion-label>
  <ion-input type="number" [(ngModel)]="numberOfLikes"></ion-input>
</ion-item>

<ion-item *ngIf="numberOfLikes > 300">
<span  class="margin1 small-font red">It is highly recommended to stay below 300 likes a day to avoid being flagged and possibly losing your account.</span>
</ion-item>


<ion-item>
  <ion-label>Tag:</ion-label>
  <ion-input [(ngModel)]="tag"></ion-input>
</ion-item>


<ion-button class="margin1" (click)="getHello()">Engage the liking machine!</ion-button>
</div>